/******************************************************************/
/* ----------------------- VERSION MOBILE ----------------------- */
/******************************************************************/
.admin_db_header {
    background-color: var(--secondary-color);
}

.admin_db_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: .5em auto;
}

.admin_db_links_ctn,
.admin_db_user_ctn {
    display: flex;
    align-items: center;
}

.admin_db_user_ctn {
    width: 100%;
    padding: .2em .5em;
    border-radius: 4px;
    background-color: rgb(122, 191, 141);
}

.admin_db_links_ctn {
    flex-direction: column;
    margin-top: .5em;
}

/* le containeur de l'icon user */
.admin_db_image_ctn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    background-color: rgb(122, 191, 141);
    cursor: pointer;
}
.admin_db_image {
    font-size: 1.6rem;
}

/* le mail user */
.admin_db_email {
    display: inline-block;
    margin-left: .5em;
    color: rgb(0, 0, 0);
    z-index: 101;
}

/* les liens dans le nav */
.link_signout,
.link {
    display: block;
    width: 100%;
    margin-bottom: .5em;
    padding: .5em 1em;
    font-size: 1.4rem;
    font-weight: 500;
    color: white;
    text-align: center;
    transition: color .4s, background-color .4s;
}

.link_home {
    display: block;
    margin-top: .5em;
    padding: .5em 1em;
    color: white;
    font-weight: 500;
    text-align: center;
    background-color: black;
    transition: color .4s, background-color .4s;
}

.link_signout {
    color: var(--highlight-color);
    font-weight: 600;
}

/* --------- LES MENUS DEROULANTS dans la nav ----------- */
.admin_db_dropdown {
    width: 200px;
    overflow: hidden;
    transition: all .3s;
}
/* Dropdown content ("hidden" par défaut) */
.admin_db_dropdown_ctn {
    display: none;
    width: 100%;
    background-color: rgb(122, 191, 141);
    overflow: hidden;
    z-index: 1;
}
/* Les liens dans le dropdown content */
.admin_db_dropdown_ctn > .link,
.admin_db_dropdown_ctn > .link_signout {
    display: block;
}
.admin_db_dropdown_ctn > .link {
    color: black;
}

/* Changer la couleur au survol sur un lien */ 
.admin_db_nav  a:hover {
    border-radius: 4px;
    color: white;
    background-color: var(--tertiary-color);
}
/* Afficher le menu déroulant au survol */ 
.admin_db_dropdown:hover .admin_db_dropdown_ctn {
    display: block;
}

/******************************************************************/
/* ---------------------- VERSION TABLETTE ---------------------- */
/******************************************************************/
@media screen and (min-width: 768px) {
    .admin_db_header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        align-items: center;
        height: 60px;
        z-index: 101;
    }

    .admin_db_nav {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 36px;
        width: auto;
        margin: 12px 2em;
    }

    .admin_db_dropdown {
        width: 200px;
        margin: auto .2em;
        overflow: hidden;
    }

    .admin_db_user_ctn {
        margin: 0;
        margin-right: .5em;
        padding-top: 0;
        padding-bottom: 0;
    }

    /* le mail user */
    .admin_db_email {
        max-width: 150px;
        font-size: 1.4rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    } 

    .admin_db_image_ctn {
        height: 36px;
        width: 36px;
        margin-bottom: 0;
    }

    .admin_db_links_ctn {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: calc(100% - 220px);
        margin-top: 0;
    }

    .link {
        display: inline-block;
    }

    /* les liens dans le nav */
    .link_signout,
    .link {
        margin-bottom: 0;
    }
}