/******************************************************************/
/* ----------------------- VERSION MOBILE ----------------------- */
/******************************************************************/
.card_ctn {
    display: flex;
    height: 200px;
    width: 600px;
    margin-bottom: 1em;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    box-shadow: 2px 2px 6px var(--primary-color);
    overflow: hidden;
}

.card_ctn > img {
    display: inline-block;
    height: 100%;
    width: 50%;
    object-fit: cover;
    object-position: center;
}

.card_info {
    display: inline-block;
    width: 50%;
    padding: 1em;
}

.card_info > h3,
.card_info > h4 {
    margin: .3em auto;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
}

.card_info > h3 {
    font-weight: 600;
}

.price_percent_ctn {
    display: flex;
    justify-content: center;
    margin: 1em auto;
}

.percent_ctn {
    display: inline-block;
    margin-right: 10px;
    padding: .2em .4em;
    font-size: 1.2rem;
    color: white;
    background-color: var(--secondary-color);
}
.percent_ctn > span {
    margin: 0 .2em;
    font-size: 2rem;
    font-weight: 500;
}

.price_ctn {
    display: inline-block;
    font-size: 1.2rem;
}
.price_ctn > span {
    margin: 0 .2em;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--highlight-color);
}


/* le bouton "découvrir" */
.discover_btn {
    display: block;
    margin: 1em auto;
    padding: .5em .7em .4em;
    border: none;
    border-radius: 6px;
    font-weight: 500;   
    color: white;
    letter-spacing: .1em;
    text-transform: uppercase;
    background-color: var(--tertiary-color);
    cursor: pointer;
}

/******************************************************************/
/* ---------------------- VERSION TABLETTE ---------------------- */
/******************************************************************/
@media screen and (min-width: 768px) {
}

/******************************************************************/
/* ----------------------- VERSION DESKTOP ---------------------- */
/******************************************************************/
@media screen and (min-width: 1100px) {
    .card_ctn {
        flex-direction: column;
        width: 300px;
        /*aspect-ratio: 4/3;*/
        height: 380px;
    }

    .card_ctn > img {
        height: 200px;
        width: 100%;
    }

    .card_info {
        display: block;
        height: 180px;
        width: 100%;
        padding: .5em;
    }
}