/******************************************************************/
/* ----------------------- VERSION MOBILE ----------------------- */
/******************************************************************/
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    padding: 1em;
    font-size: 1.4rem;
    text-align: center;
    background-color: var(--primary-color);
}

.footer_social {
    display: flex;
    margin: 0 auto 1em;
}

.footer_social svg {
    margin: auto .5em;
    color: var(--tertiary-color);
    font-size: 2.5rem;
}

.footer_title {
    margin: 10px 0;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.footer_links > div {
    display: flex;
    flex-direction: column;
    margin: .5em auto 1em;
}

.footer_links > div  a {
    margin-bottom: .5em;
    font-size: 1.4rem;
    color: var(--tertiary-color);
    text-transform: none;
}

.footer_links > div:nth-child(3) {
    padding-left: 3em;
    padding-right: 3em;
}

.footer_legal p {
    display: block;
    margin-bottom: 0;
    color: black;
}

.newsletter_form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsletter_form > input {
    width: 80%;
    padding: .3em;
    border: none;
    font-size: 1.4rem;
    font-weight: 500;
}

.newsletter_form > button {
    margin-left: 4px;
    padding: .4em .5em .3em;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    color: white;
    background-color: var(--tertiary-color);
}

.ok_msg,
.err_msg {
    width: 100%;
    margin: 0 auto;
    padding: 0 1em;
    color: rgb(0, 143, 49);
}

.err_msg{
    color: var(--highlight-color);
}

/******************************************************************/
/* ----------------------- VERSION DESKTOP ---------------------- */
/******************************************************************/
@media screen and (min-width: 1100px) {
    .footer_links {
        max-width: 1100px;
        display: flex;
    }

    .footer_links > div {
        width: 33.33%;
    }
}