* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color:   #dee8f2 ;  /* 60% */
  --secondary-color: #3F9AE9 ;  /* 30% */
  --tertiary-color:  #2f4a7a ;  /* 10% */
}

html {
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;  
  background-color: white;
}

body > div {
  min-height: 100vh; /* pour positionner le footer toujours en bas de la page */
  display: flex;
  flex-direction: column;
}

/* ----- */
h1 {
	font-weight: 500;
	font-size: 3.6rem;
  margin: 3rem;
	color: var(--tertiary-color);
}

h2 {
	font-weight: 500;
	font-size: 2.5rem;
  margin: 2rem;
  color: var(--tertiary-color);
}

h3 {
	font-weight: 500;
	font-size: 2.2rem;
  margin: 1.6rem;
  color: var(--tertiary-color);
}

h4 {
	font-weight: 600;
	font-size: 1.8rem;
  margin: 1.2rem;
  color: rgb(151, 10, 10);
}

a {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}

li {
  list-style: none;
}

p {
  margin: 10px 0;
}

img {
  display: block;
  width: 100%;
  max-height: 100%;
}

/******************************************************************/
/* ----------------------- VERSION MOBILE ----------------------- */
/******************************************************************/
main {
	width: 100%;
  margin-top: 230px;
	text-align: center;
}

/********* TABLES *********/
table {
	border-collapse: collapse;
	width: 100%;
  font-size: 1.4rem;
}

table th, 
table td {
	border: 1px solid #ddd;
}

thead {
	text-align: center;
}

thead th {
  padding: 1em;
	border-bottom: 1px solid grey;
  font-weight: 400;
}

tfoot th {
	border-top: 1px solid grey;
}

table > tbody > tr:nth-child(odd) td {
  background-color: #eee;
}

/******************************************************************/
/* ---------------------- VERSION TABLETTE ---------------------- */
/******************************************************************/
@media screen and (min-width: 768px) {
  main {
    margin-top: 60px;
  }
}

/******************************************************************/
/* ----------------------- VERSION DESKTOP ---------------------- */
/******************************************************************/
@media screen and (min-width: 1100px) {

}