@import '../../../../variables.scss';

.results_table {
    margin: 0 1em;
    color: $darkgrey-color;
    font-family: $secondary-font;

    th {
        padding: .2em .5em;
        background-color: $primary-color;
    }
    
    tbody {
        td {
            padding: .2em .5em;
            text-align: center;
        }
        td:first-child {
            color: $grey-color;
        }
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: .2em .5em;
        border: none;
        border-radius: 4px;
        text-transform: uppercase;
        background-color: transparent;

        .modify_icon {
            margin-top: .1em;
            color: rgb(50, 124, 72);
        }
        .delete_icon {
            color: $highlight-color;
        }
    }

    @media screen and (min-width: $br-desktop) {
        max-width: 1200px;
        margin: 0 auto;
    }

    .justify {
        text-align: justify;
    }
}