@import '../../../../variables.scss';

.search_form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;
    margin: 2em auto;
    padding: 1em;
    background-color: $secondary-color;

    input {
        display: inline-block;
        width: 100%;
        margin-bottom: 1em;
        padding: .5em;
        border: none;
        font-weight: 500;
    }
    input[name*=Name],
    input[name*=name],
    input[name=reference],
    input[name=type],
    input[name*=Date] {
        width: 49%;
    }
    input[name=nameLodging],
    input[name=namePack] {
        width: 100%;
    }
}

.msg_nok {
    font-weight: 500;
    color: $highlight-color;
}