/******************************************************************/
/* ----------------------- VERSION MOBILE ----------------------- */
/******************************************************************/
.search_form {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding: 1em;
    background-color: var(--secondary-color);
}

.search_form input {
    display: inline-block;
    margin-bottom: 1em;
    padding: .4em;
    border: none;
    font-weight: 500;
}

.inputs_ctn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.inputs_ctn > *:first-child {
    width: 100%;
}

.inputs_ctn > *:nth-child(2),
.inputs_ctn > *:nth-child(3) {
    width: calc(50% - .5em);
}

.button_ctn {
    display: block;
}

.button_ctn > button {
    display: block;
    margin: 0 auto;
    padding: .6em .7em .5em;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    color: white;
    letter-spacing: .1em;
    text-transform: uppercase;
    background-color: var(--tertiary-color);
    cursor: pointer;
}
.button_ctn > button:hover {
    cursor: pointer;
}

/* Suggestions */ 
.suggestions_box {
    position: absolute;
    top: 2.9em;
    border: 1px solid var(--grey-color);
    background-color: white;
}

.suggestions_box > li {
    display: block;
    width: 300px;
    padding: .3em;
    font-size: 1.4rem;
    text-align: left;
    cursor: pointer;
}
.suggestions_box > li:hover {
    color: var(--highlight-color);
    font-weight: 500;
}

/* Messages (d'erreur) */
.msg {
    margin-top: 1em;
    color: var(--highlight-color);
}

/******************************************************************/
/* ---------------------- VERSION TABLETTE ---------------------- */
/******************************************************************/
@media screen and (min-width: 768px) {
    .search_form {
        margin: 2em auto 1em;
    }

    .msg {
        margin-top: 0;;
    }
}

/******************************************************************/
/* ----------------------- VERSION DESKTOP ---------------------- */
/******************************************************************/
@media screen and (min-width: 1100px) {
    .search_form {
        flex-direction: row;
        align-items: center;
        width: 90%;
        max-width: 1200px;
    }

    .search_form input {
        margin-bottom: 0;
    }

    .inputs_ctn > *:first-child {
        width: calc(50% - .5em);
    }
    .inputs_ctn > *:nth-child(2) {
        width: calc(25% - 1em);
    }
    .inputs_ctn > *:nth-child(3) {
        width: calc(25% - .5em);
    }

    .button_ctn {
        display: inline-block;
        margin-left: 1em;
        margin-right: 0;
    }
}