<main id="home">

    <%# console.log("email = "+user.email); %>
    <%# console.log("password = "+password); %>
    <%# console.log("user = "+user); %>
    <%# console.log("user.email = "+user.email); %>
    <h2> Bienvenue <%= email %> ! </h2>
    
</main>