<div class="sign-form">
    <% if(msg) {%>
        <p><%= msg %></p>
    <% } %>
    <form action="/api/v.0.1/admin/signup" method="POST">
        <input type="text" name="lastName" placeholder="Votre nom">
        <input type="text" name="firstName" placeholder="Votre prénom">
        <input type="email" name="email" placeholder="Votre adresse mail">
        <input type="tel" name="tel" placeholder="Votre tél.">
        <textarea name="addresse" id="addresseField" placeholder="Votre adresse postale"></textarea>
        <%#<div>%>
            <%#- include("../partials/birthday_form") %>
        <%#</div>%>
        <input type="date" name="birthday" min="1923-01-01"/>
        <input type="text" name="profession" placeholder="Votre situation professionnelle">
        <input type="password" name="password" placeholder="Votre mot de passe">
        <%# submit button : %>
        <input type="submit" value="Créer un compte">
    </form>
</div>