<div class="sign-form">
    <% if(msg) {%>
        <p><%= msg %></p>
    <% } %>
    <form action="/api/v.0.1/admin" method="post">
        <input type="email" name="email" placeholder="Votre adresse mail">
        <input type="password" name="password" placeholder="Votre mot de passe">
        <input type="submit" value="Se connecter">
    </form>

</div>