<h1>Administration de votre application</h1>
<nav>
    <a href="/api/v.0.1/admin/" class="<%= template.includes("home") ? "active" : null %>">accueil</a>
    <a href="/api/v.0.1/admin/reservation">réservations</a>

    <%# if( !user.isLogged ) { %>
        <a href="/api/v.0.1/admin/signin" class="<%= template.includes("signin") ? "active" : null %>">connexion</a>
    <%# } %>

    <%# if( user.isLogged ) { %>
        <%#<a href="/user/signout">déconnexion</a>%>
    <%# } %>
</nav>