<h1>Panneau d'administration</h1>
<nav>
    <a href="/api/v.0.1/admin/dashboard/" class="<%= template.includes("home") ? "active" : null %>">accueil</a>
    
    <a href="/api/v.0.1/admin/dashboard/signout" class="<%= template.includes("signin") ? "active" : null %>">déconnexion</a>

    <a href="/api/v.0.1/admin/dashboard/booking">réservations</a>

    <a href="/api/v.0.1/admin/dashboard/signup">créer un nouveau compte admin</a>

    <%# if( user.isLogged ) { %>
        <%#<a href="/user/signout">déconnexion</a>%>
    <%# } %>
</nav>