.search_form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;
    margin: 2em auto;
    padding: 1em;
    background-color: var(--secondary-color);
}

.search_form > input {
    display: inline-block;
    width: 100%;
    margin-bottom: 1em;
    padding: .5em;
    border: none;
}

.search_form > input[type=date],
.search_form > input[type=number] {
    width: 49%;
}

.search_form > button {
    display: block;
    margin: 0 auto;
    padding: .5em .7em .4em;
    border: none;
    font-weight: 500;
    color: white;
    letter-spacing: .1em;
    text-transform: uppercase;
    background-color: var(--tertiary-color);
}
.search_form > button:hover {
    cursor: pointer;
}