@import '../../../variables.scss';

.confirmation_section {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 1em auto;
    border: 1px solid $lightgrey-color;

    @media screen and (min-width: $br-tablet) {
        margin: 4em auto;
    }
    
    @media screen and (min-width: $br-desktop) {
        margin: 8em auto;
    }
}