/******************************************************************/
/* ----------------------- VERSION MOBILE ----------------------- */
/******************************************************************/
.confirmation_section {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 1em auto;
    border: 1px solid var(--lightgrey-color);
}

/******************************************************************/
/* ---------------------- VERSION TABLETTE ---------------------- */
/******************************************************************/
@media screen and (min-width: 768px) {
    .confirmation_section {
        margin: 4em auto;
    }
}

/******************************************************************/
/* ----------------------- VERSION DESKTOP ---------------------- */
/******************************************************************/
@media screen and (min-width: 1100px) {
    .confirmation_section {
        margin: 8em auto;
    }
}