@import '../../../variables.scss';

.confirmation_section {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 30vh auto;
    padding: 2rem;
    border: 1px solid $lightgrey-color;
}