<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include("partials/head") %>
</head>
<body>
    <header>
        <% if (template != "signin") { %>
            <%- include("partials/header") %>
        <% } %>
    </header>

    <main id="admin">

        <%# if(user.isLogged) { %>
            <aside>
                <p>Hello <%#= user.email %> !</p>
            </aside>
        <%# } %>

        <%- include("pages/" + template) %>

    </main>
    
</body>
</html>