/******************************************************************/
/* ----------------------- VERSION MOBILE ----------------------- */
/******************************************************************/
.header {
    width: 100%;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: .5em 1.5em .5em;
    background-color: var(--primary-color);
    z-index: 100;
}

.nav_upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
}

.nav_upper_button {
    padding: 0 .5em;
    font-weight: 500;
    color: var(--tertiary-color);
}

.nav_lower {
    /*margin-top: 3em;*/
}

.nav_lower > a {
    display: block;
    margin: .5em 0;
    padding: .5em 1em;
    font-weight: 600;
    letter-spacing: .2em;
    text-align: center;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
}

.nav_logo {
    margin: .5em 1em;
}

/******************************************************************/
/* ---------------------- VERSION TABLETTE ---------------------- */
/******************************************************************/
@media screen and (min-width: 768px) {
    .nav {
        flex-direction: row;
        align-items: center;
        padding: 0 2em;
    }

    .nav_upper_button {
        position: absolute;
        right: 0;
    }

    .nav_lower {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        z-index: 100;
    }

    .nav_lower > a {
        margin: .5em 1.5em;
        padding: .5em;
        color: var(--tertiary-color);
        letter-spacing: normal;
        background-color: var(--primary-color);
    }

    .nav_lower > a:hover {
        text-decoration: underline;
        text-underline-offset: 3px;
    }

    .nav_logo {
        margin-left: 4em;
        margin-right: 5em;
    }
}

/******************************************************************/
/* ----------------------- VERSION DESKTOP ---------------------- */
/******************************************************************/
@media screen and (min-width: 1100px) {
    .nav_lower {
        left: 250px;
        right: 250px;
        display: flex;
        justify-content: center;
    }
}