/******************************************************************/
/* ----------------------- VERSION MOBILE ----------------------- */
/******************************************************************/
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 230px;
    width: 100%;
    background-color: var(--primary-color);
    z-index: 100;
}

.nav {
    display: flex;
    flex-direction: column;
    padding: .5em 1.5em .5em;
}

.nav_upper {
    display: flex;
    justify-content: left;
    align-items: center;
}

.nav_lower {
    display: flex;
    flex-direction: column;
}

.nav_lower > a {
    display: block;
    margin: .5em 0;
    padding: .5em 1em;
    font-weight: 600;
    letter-spacing: .2em;
    text-align: center;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
}

.nav_logo {
    margin: .5em 1em;
}

/******************************************************************/
/* ---------------------- VERSION TABLETTE ---------------------- */
/******************************************************************/
@media screen and (min-width: 768px) {
    .header {
        height: 60px;
    }

    .nav {
        flex-direction: row;
        align-items: center;  
        padding: 0 2em;
    }

    .nav_lower {
        position: absolute;
        /*left: 100px;
        right: 100px;*/
        left: 50%;
        transform: translate(-50%, 0);
        flex-direction: row;
        /*margin-left: auto;
        margin-right: auto;*/
    }

    .nav_lower > a {
        margin: .5em 1.5em;
        padding: .5em;
        color: var(--tertiary-color);
        letter-spacing: normal;
        background-color: var(--primary-color);
    }

    .nav_lower > a:hover {
        text-decoration: underline;
        text-underline-offset: 3px;
    }

    .nav_logo {
        margin-left: 1em;
    }
}

/******************************************************************/
/* ----------------------- VERSION DESKTOP ---------------------- */
/******************************************************************/
@media screen and (min-width: 1100px) {
    .nav_logo {
        margin-left: 4em;
    }
}