header {
    width: 100%;
}

.nav_upper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_upper_button {
    padding: 0 .5em;
    font-weight: 500;
    color: var(--tertiary-color);
}

nav {
    display: flex;
    flex-direction: column;
    padding: .5em;
    background-color: var(--primary-color);
}

nav > a {
    display: block;
    margin: .5em;
    padding: .5em 1em;
    font-weight: 600;
    letter-spacing: .2em;
    text-align: center;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
}

.nav_logo {
    margin: 0 .5em;
}

/******************************************************************/
/* ----------------------- VERSION DESKTOP ---------------------- */
/******************************************************************/
@media screen and (min-width: 1200px) {
    nav {
        flex-direction: row;
        padding: 0 2em;
    }

    .nav_upper_button {
        position: absolute;
        right: 0;
    }

    nav > a {
        margin: .5em 1em;
        padding: .5em;
        color: var(--tertiary-color);
        background-color: var(--primary-color);
    }

    .nav_logo {
        margin-right: 5em;
    }
}