/******************************************************************/
/* ----------------------- VERSION MOBILE ----------------------- */
/******************************************************************/
.detail_section {
    display: flex;
    flex-direction: column;
    margin: 1em auto;
}

.slider_ctn {
    margin: 1em 2em;
}

.property_ctn {
    margin: 1em;
    padding: 1em;
    font-size: 1.4rem;
    text-align: justify;
    white-space: break-spaces;
}

.property_ctn + .property_ctn {
    border-top: 1px solid var(--lightgrey-color);
}

.property_ctn > span {
    display: block;
    margin: 1rem;
	font-weight: 500;
	font-size: 1.8rem;
}

.book_btn {
    margin: .2em;
    padding: .3em .7em;
    border: none;
    border-radius: 4px;
    color: white;
    text-transform: uppercase;
    background-color: var(--tertiary-color);
}
.book_btn:hover {
    cursor: pointer;
}

/*** la carte Openstreetmap ***/
.leaflet_container {
    margin: 2em auto 1em;
    width: 90%;
    height: 300px;
    z-index: 0;
}

/*** styler les activités ***/
.activities_ctn {
    padding-top: 1em;
    text-align: left;
}

.activities_ctn > span {
    display: block;
    margin: 1em 2em;
	font-weight: 500;
	font-size: 1.8rem;
}

.activities_ctn > p {
    margin: 0 2em;
    font-size: 1.4rem;
    text-align: justify;
}

.activity {
    margin: .5em 1em;
    padding: 1em;
    border: 1px solid var(--lightgrey-color);
}

.activity p {
    margin: 1em 0;
    font-size: 1.4rem;
    text-align: justify;
}

.activity > span {
    display: block;
    margin: 0 1em 1em;
    font-weight: 500;
}

/******************************************************************/
/* ---------------------- VERSION TABLETTE ---------------------- */
/******************************************************************/
@media screen and (min-width: 768px) {
    .detail_section {
        max-width: 1000px;
    }

    .packs_table {
        margin: 0 2em;
    }

    /*** la carte Openstreetmap ***/
    .leaflet_container {
        width: 80%;
    }
}

/******************************************************************/
/* ----------------------- VERSION DESKTOP ---------------------- */
/******************************************************************/
@media screen and (min-width: 1100px) {
    .detail_section {
        margin-top: 2em;
        padding: 2em;
        border: 1px solid var(--lightgrey-color);
    }

    .property_ctn {
        margin: 1em 2em;
    }

    .activities_ctn > p {
        margin-left: 4em;
    }

    .activity {
        margin: 1em 3em;
        padding: 1em 2em;
    }
}