.detail_section {
    display: flex;
    flex-direction: column;
    margin: 1em;
    border: 1px solid lightgray;
    background-color: var(--primary-color);
}

.detail_section > p {
    margin-left: 1em;
    margin-right: 1em;
    font-size: 1.4rem
}