/******************************************************************/
/* ----------------------- VERSION MOBILE ----------------------- */
/******************************************************************/
.holidays_section {
    width: 90%;
    margin: .5em auto 3em;
    /*background-color: var(--primary-color);*/
}

h2 {
    margin-top: 1em;
}

.continent_txt {
    width: 90%;
    margin: 1em auto;
    padding: .1em 0;
    border: 1px solid var(--secondary-color);
}

.continent_ctn {
    display: flex;
    flex-direction: column;
}

.destination_ctn {
    display: flex;
    align-items: top;
    width: 80%;
    margin: 0 auto 1em;
    /*padding: 0 2em;*/
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
    font-weight: 500;
    transition: all .3s;
}
.destination_ctn:hover {
    cursor: pointer;
    border: 4px solid var(--secondary-color);
    opacity: .8;
}

.destination_ctn  img {
    /*display: flex;*/
    width: 30%;
    aspect-ratio: 1/1;
    max-height: unset; 
    object-fit: cover;
    object-position: top;
    /*height: calc(width * 3/4);*/ 
}

.info_ctn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    padding-left: .6em;
    box-sizing: border-box;
    text-align: left;
    overflow: hidden; 
}

.info_ctn > p:first-child {
    margin-top: .3em;
}

.holidays_destination {
    margin-top: 0;
    font-weight: 600;
    color: var(--highlight-color);    
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}


/******************************************************************/
/* ---------------------- VERSION TABLETTE ---------------------- */
/******************************************************************/
@media screen and (min-width: 768px) {
    .holidays_section {
        margin: 1em auto 3em;
    }

    .continent_txt {
        max-width: 610px;
    }

    .continent_ctn {
        flex-direction: row;
        justify-content: center;
        margin: 0 2em;
    }

    .destination_ctn {
        position: relative;
        width: 170px;
        height: 170px;
        /*aspect-ratio: 1/1;*/
        margin: 0 1em 1em;
        background-color: var(--primary-color);
    }
    .destination_ctn:hover {
        cursor: pointer;
    }

    .destination_ctn  img {
        width: 100%;
        object-fit: contain;
        object-position: bottom;
    }

    .info_ctn {
        position: absolute;
        display: block;
        width: 170px;
        margin: 0;
        padding: 0 .5em;
        background-color: var(--primary-color);
    }
}

/******************************************************************/
/* ----------------------- VERSION DESKTOP ---------------------- */
/******************************************************************/
@media screen and (min-width: 1100px) {
    .holidays_section {
        max-width: 1000px;
    }
}