/******************************************************************/
/* ----------------------- VERSION MOBILE ----------------------- */
/******************************************************************/
.holidays_section {
    padding: 1em;
    /*background-color: var(--primary-color);*/
}

.holidays_destination {
    color: var(--highlight-color);
}

/******************************************************************/
/* ---------------------- VERSION TABLETTE ---------------------- */
/******************************************************************/
@media screen and (min-width: 768px) {
    .holidays_section {
        margin: 2em auto;
    }
}

/******************************************************************/
/* ----------------------- VERSION DESKTOP ---------------------- */
/******************************************************************/
@media screen and (min-width: 1100px) {
    
}