/******************************************************************/
/* ----------------------- VERSION MOBILE ----------------------- */
/******************************************************************/
.holidays_section {
    margin-bottom: 2em;
    padding: .5em 1em 1em;
    /*background-color: var(--primary-color);*/
}

.holidays_destination {
    color: var(--highlight-color);
}

h2 {
    margin-top: 1em;
}

.holidays_section li {
    font-weight: 500;
}

/******************************************************************/
/* ---------------------- VERSION TABLETTE ---------------------- */
/******************************************************************/
@media screen and (min-width: 768px) {
    .holidays_section {
        margin: 1em auto;
    }
}

/******************************************************************/
/* ----------------------- VERSION DESKTOP ---------------------- */
/******************************************************************/
@media screen and (min-width: 1100px) {
    .holidays_section {
        max-width: 1000px;
    }
}