@import '../../../variables.scss';

.signin {
    margin: 3em auto;
    /* le lien pour créer un compte */
    a {
        margin-left: .5em;
        font-weight: 500;
        color: $highlight-color;
    }

    @media screen and (min-width: $br-tablet) {
        margin-top: 7em;
        margin-bottom: 10em;
    }
}

.signup {
    margin: 1em auto 2em;
    /* liens pour les docs : conditions gén., etc... */
    a {
        color: white;
        text-decoration: underline;
        text-transform: none;
    }

    @media screen and (min-width: $br-tablet) {
        margin-bottom: 3em;
    }
}

/* fond - image transparente : 
.signin,
.signup {
    position: relative;
    background-color: white;
    &:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background-image: url("../../../assets/img/bg/pexels-picjumbocom-196663.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}*/

.sign_section {
    > h1 {
        margin: 2rem;
        font-size: 2.6rem;
        text-transform: uppercase;
    }
    .sign_form {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        margin: 1em auto; 
        padding: 1.5em 1.5em 1em;
        background-color: $secondary-color;
    
        > * {
            margin-bottom: 1em;
            padding: .5em 1em;
            border: none;
        }
    
        .input_ctn {
            position: relative;
            padding: 0;
        
            .input_icon {
                position: absolute;
                left: .8em;
                top: .5em;
                font-size: 1.6rem;
                color: $tertiary-color;
            }
            > textarea,
            > input {
                width: 100%;
                padding: .4em 2.4em;
                font-weight: 500;
            }
            > input {
                padding-right: .8em;
            }
            /* l'oeil d'affichage du mdp */
            .pass_icon_ctn {
                position: absolute;
                right: .2em;
                top: 0;
                height: 2.1em;
                width: 2.1em;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover {
                    cursor: pointer;
                }
                .pass_icon {
                    font-size: 1.6rem;
                    color: $tertiary-color;
                }
            }
            .label_checkbox {
                display: flex;
                align-items: flex-start;
                > input {
                    display: block;
                    margin-top: .2em;
                    margin-right: .5em;
                    border: 2px solid white;
                }
                > span {
                    max-width: 95%;
                    display: inline-block;
                    font-size: 1.4rem;
                    text-align: justify;
                    color: white;
                }
            }
        }
    
        /* agrandir les points de mdp */ 
        input[type="password"]:not(:placeholder-shown) {
            font-family: Verdana, sans-serif;
        }
    
        > button {
            display: block;
            margin: 0 auto;
            padding: .6em .7em .5em;
            border: none;
            border-radius: .4em;
            font-weight: 500;
            color: white;
            letter-spacing: .1em;
            text-transform: uppercase;
            background-color: $tertiary-color;
            &:hover {
                cursor: pointer;
            }
        }
    }
    
    .ok_msg,
    .err_msg {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 0 1em;
        color: $highlight-color;
        white-space: break-spaces;
    }
    .ok_msg {
        font-size: 2rem;
        font-weight: 500;
        color: rgb(0, 143, 49);
    }
}