form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 1em auto; 
    padding: 1em;
    background-color: var(--secondary-color);
}

form > * {
    margin-bottom: .5em;
    padding: .5em 1em;
    border: none;
}

form > button {
    display: inline-block;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
}

form > button:hover {
    cursor: pointer;
}