/* bouton burger */
.burger_icon {
    position: absolute;
    right: 1em;
    top: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .7em;
    border: none;
    border-radius: 1.5em;
    font-size: 1.6rem;
    color: var(--primary-color);
    background: var(--tertiary-color);
}

.burger_icon:hover {
    cursor: pointer;   
    justify-content: right;
    outline: 2px solid var(--tertiary-color);
    color: var(--tertiary-color);
    background: white; /* var(--primary-color);*/
    transition: color .6s, background-color .6s, width .6s, content 1s;
}

.burger_icon:hover::before {
    margin-right: .5em;
    content: attr(data-content);
    text-transform: uppercase;
}

.burger_icon:hover > .burger_icon_fawesome {
    margin-bottom: .15em;
}

/* l'image dans le bouton burger */
.burger_icon_fawesome {
    height: 1.6rem;
    width: 1.6rem;
}

/* Position and sizing of clickable cross button */
.burger_cross {
    height: 24px;
    width: 24px;
}

/* le containeur du menu burger */
.burger_menu {
    position: fixed;
    top: 0;
    right: 0;
}

/* le containeur des liens dans le menu burger (caché par défaut) */
.burger_items_ctn {
    position: fixed;
    right: -200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 200px;
    padding: 4em 1.5em 0;
    font-size: 1.5rem;
    background: #b8bfda;
    visibility: hidden;
    transition: all 1s ease-out;
}

.show_burger_menu .burger_items_ctn {
    right: 0;
    visibility: visible;
    /*transform: translateX(-200px);*/
    transition: all 1s ease-out;
}

/* Individual item */
.burger_item {
    display: inline-block;
    margin-top: 1em;
}

/******************************************************************/
/* ----------------------- VERSION DESKTOP ---------------------- */
/******************************************************************/
@media screen and (min-width: 1200px) {
    .burger_icon {
        top: .6em;
        right: 2em;
    }
}