@import '../../../variables.scss';

.agency_section {
    height: auto;
    margin: 3rem;
    padding-bottom: 3rem;

    > p {
        text-align: justify;
    }

    @media screen and (min-width: $br-tablet) {
        max-width: 900px;
        margin: 5rem;
        > img {
            float: left;
            width: 50%;
            margin-right: 3rem; 
        }
        > h2 {
            display: inline-block;
            margin: .5rem auto;
        }
    }

    @media screen and (min-width: $br-desktop) {
        max-width: 900px;
        margin: 5rem auto;
    }
}