@import '../../../variables.scss';

.agency_section {
    height: auto;
    margin: 3rem;
    padding-bottom: 3rem;

    h1 {
        margin: 2.5rem auto;
        font-size: 3rem;
    }
    p {
        text-align: justify;
    }

    @media screen and (min-width: $br-tablet) {
        display: flex;
        max-width: 900px;
        margin: 5rem;
        > img {
            float: left;
            width: 50%;
            object-fit: contain;
            margin-right: 3rem; 
        }
    }

    @media screen and (min-width: $br-desktop) {
        max-width: 900px;
        margin: 5rem auto;
    }
}