@import '../../../variables.scss';

.main_ctn {
    height: 100%;
    width: 100%;
    padding: 0 1rem 4rem;
    text-align: left;

    @media screen and (min-width: $br-tablet) {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        padding: 2rem 4rem 4rem;
    }
}
.section {
    height: 100%;
    padding: 1rem;
    margin-left: 1rem;
    overflow-y: auto;
    scrollbar-width: thin;
    color: black;

    .to_top_btn {
        margin: 2rem auto;
        padding: .4rem .8rem;
        border: none;
        font-weight: 700;
        color: $tertiary-color;
        background-color: transparent;
        &:hover {
            cursor: pointer;
        }
    }

    h1 {
        margin: 1rem;
        font-size: 3rem;
        @media screen and (min-width: $br-tablet) {
            margin: 3rem;
            font-size: 3.6rem;
        }
    }
    h2, 
    h3 {
        text-align: left;
    }
    h4 {
        color: $tertiary-color;
    }

    p {
        word-break: break-all;
        @media screen and (min-width: $br-tablet) {
            word-break: normal;
        }
    }

    ul {
        li {
            list-style: disc;
            display: list-item;
            margin-left: 2rem;
        }
    }

    ol {
        margin-left: 4rem;
        li {
            list-style: decimal;
            margin-left: 2rem;
        }
    }

    tr {
        &:nth-child(odd) {
            td {
                background-color: unset;
            }
        }
    }

    :-webkit-scrollbar {
        width: 5px;
    }
    :-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    :-webkit-scrollbar-thumb {
        background: red;
        &:hover {
            background: #555;
        }
    }
}