@import '../../../variables.scss';

.main_ctn {
    width: 100%;
    height: 100%;
    h2, 
    h3 {
        text-align: left;
    }
    h4 {
        color: $tertiary-color;
    }

    ul {
        position: relative;
    }

    tr {
        &:nth-child(odd) {
            td {
                background-color: unset;
            }
        }
    }

    > section {
        height: 100%;
        padding: 1rem;
        margin-left: 1rem;
        overflow-y: auto;
        scrollbar-width: thin;
        color: black;

        > article {
            ul {
                li {
                    list-style: disc;
                    display: list-item;
                    margin-left: 2rem;
                }
            }
        }
    }
    :-webkit-scrollbar {
        width: 5px;
    }
    :-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    :-webkit-scrollbar-thumb {
        background: red;
        &:hover {
            background: #555;
        }
    }
}