@import '../../../../variables.scss';

/* -------------- LE BOUTON BURGER ----------------- */
.burger_btn {
    position: absolute;
    top: 1.3rem;
    right: 3rem;
    height: 3.6rem;
    width: 3.6rem;
    border: 2px solid $tertiary-color;
    border-radius: 1.8rem;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 1.6rem;
    color: $primary-color;
    background-color: $tertiary-color;
    &:hover {
        cursor: pointer;   
        width: 14.2rem;
        color: $tertiary-color;
        background-color: $primary-color;
        > span {
            width: 9.6rem;
        }
    }
    &:not(:hover) {
        width: 3.6rem;
        transition: width .7s;
        > span {
            width: 0;
            transition: width .6s;
        }
    }
    &:focus {
        visibility: hidden;
    }

    > span {
        position: absolute;
        top: -.2rem;
        right: 3.2rem;
        height: 3.6rem;
        width: 0;
        display: flex;
        align-items: center;
        overflow: hidden;
        transition: width 1.2s .2s ease-out;
    }

    /* l'image dans le bouton burger */
    .burger_icon {
        position: absolute;
        top: .7rem;
        right: .8rem;
        height: 1.6rem;
        width: 1.6rem;
        transition: transform 1s;
    }

    @media screen and (min-width: $br-tablet) {
        right: 5rem;
    }
    @media screen and (min-width: $br-desktop) {
        right: calc(6vw + 1.6rem);
    }
}

.static {
    &:hover {
        width: 3.6rem;
    }
}

/* CONTAINEUR PRINCIPAL du menu burger (caché par défaut) */
.burger_menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;

    .burger_items_ctn {
        position: fixed;
        right: -200px; // caché par défaut
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 200px;
        padding: 5.5rem 2rem 0;
        font-size: 1.4rem;
        background-color: #b8bfda;
        visibility: hidden;
        transition: all 1s ease-out;
        z-index: 101;
    
        .burger_cross_btn {
            position: absolute;
            top: 1.2rem;
            left: 1.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: .8rem;
            border: none;
            border-radius: 50%;
            background-color: inherit;
            transition: background-color .6s;
            &:hover {
                cursor: pointer;
                background-color: #cfd4e9;
            }
            .burger_cross {
                height: 2rem;
                width: 2rem;
            }
        }
        > .user_icon {
            margin-bottom: .6rem;
            font-size: 2.5rem;
        }
        > p {
            padding-left: .8rem;
        }
        .small_txt {
            margin: 0;
            font-size: 1.4rem;
            text-align: center;
        }
        .user_txt {
            margin-top: .3rem;
            padding: .3rem 0 .3rem .5rem;
            font-weight: 500;
            text-align: center;
            overflow: hidden; 
            white-space: nowrap; 
            text-overflow: ellipsis;
            background-color: $primary-color;
        }
        hr {
            margin: .8rem 0;
            border: 1px solid $grey-color;
        }
        /* ------- LIEN DANS LE CONTAINEUR MENU -------- */
        a {
            display: block;
            margin: 8px 0;
            padding: .8rem;
            border-radius: .6rem;
            font-weight: 500;
            color: black;
            text-transform: uppercase;
            &:hover {
                cursor: pointer;
                background-color: #cfd4e9;
            }
        }
        .main_links_ctn {
            a {
                align-self: center;
                margin-top: 1rem;
                padding: .6rem 1.2rem;
                color: $primary-color;
                background-color: $tertiary-color;
                text-align: center;
            }
        }
        .sign {
            display: block;
            margin-top: 1rem;
            padding: .6rem 1.2rem;
            color: $primary-color;
            background-color: $darkgrey-color;
            text-align: center;
        }
    }
}

.show_burger_menu {
    .burger_items_ctn {
        right: 0;
        visibility: visible;
        transition: all 1s ease-out;
    }
}
/* Afficher/cacher le containeur principal */
.show {
    visibility: visible;
    opacity: 1;
    transition: all 2s;
}
.hide {
    visibility: hidden;
    opacity: 0;
    transition: all .5s;
}