/* -------------- LE BOUTON BURGER ----------------- */
.burger_btn {
    position: absolute;
    right: 2em;
    top: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    /*padding: .6em;*/
    border: 2px solid var(--tertiary-color);
    border-radius: 1.1em;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 1.6rem;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    transition: color .5s, background-color .5s, width .5s, content .5s;
}
.burger_btn:hover {
    cursor: pointer;   
    /*justify-content: right;*/
    width: 9em;
    color: var(--tertiary-color);
    background-color: white; 
}
.burger_btn_text {
    color: rgba(47, 74, 122, 0);
    transition: color 3s;
}
.burger_btn:hover .burger_btn_text {
    /*position: absolute;
    right: 1.8em;
    padding: .6em;*/
    color: var(--tertiary-color);
}
.burger_btn:focus {
    visibility: hidden;
}
/* l'image dans le bouton burger */
.burger_icon {
    height: 1.6rem;
    width: 1.6rem;
}


/* CONTAINEUR PRINCIPAL du menu burger (caché par défaut) */
.burger_menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 101;
}

/* le containeur des liens */
.burger_items_ctn {
    position: fixed;
    right: -200px;
    display: flex;
    flex-direction: column;
    /*align-items: left;*/
    height: 100%;
    width: 200px;
    padding: 3.5em 1.2em 0;
    font-size: 1.5rem;
    background-color: #b8bfda;
    visibility: hidden;
    transition: all 1s ease-out;
    z-index: 200;
}
.show_burger_menu .burger_items_ctn {
    right: 0;
    visibility: visible;
    transition: all 1s ease-out;
}

.burger_items_ctn > p {
    padding-left: .5em;
}

.burger_items_ctn > .user_icon {
    margin-bottom: .5em;
    font-size: 3rem;
}

.burger_items_ctn > .small_txt {
    margin: 0;
    font-size: 1.4rem;
    text-align: center;
}

.burger_items_ctn > .user_txt {
    /*display: block;*/
    margin-top: .2em;
    padding: .2em 0 .2em .3em;
    font-weight: 500;
    text-align: center;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
    background-color: var(--primary-color);
}

.burger_items_ctn > hr {
    margin: .5em 0;
    /*margin-left: .5em;*/
    border: 1px solid var(--grey-color);
}

/* ------ LE BOUTON CROIX --------- */
.burger_cross_btn {
    position: absolute;
    top: .7em;
    left: .7em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em;
    border: none;
    border-radius: 50%;
    background-color: inherit;
    transition: background-color .6s;
}
.burger_cross_btn:hover {
    cursor: pointer;
    background-color: #cfd4e9;
}
/* L'image du bouton croix */
.burger_cross {
    height: 2rem;
    width: 2rem;
}

/* ------- LIEN DANS LE CONTAINEUR MENU -------- */
.burger_item {
    display: inline-block;
    margin-top: 1em;
    padding: .5em;
    border-radius: .4em;
    font-weight: 500;
    color: black;
}
.burger_item:hover {
    cursor: pointer;
    background-color: #cfd4e9;
}

.burger_item_signout {
    position: absolute;
    bottom: 2em;
    align-self: center;
    padding: .4em .8em;
    border-radius: .4em;
    color: var(--primary-color);
    background-color: var(--darkgrey-color);
    text-align: center;
}


/* Afficher/cacher le containeur principal */
.show {
    visibility: visible;
    opacity: 1;
    transition: all 2s;
}
.hide {
    visibility: hidden;
    opacity: 0;
    transition: all .5s;
}

/******************************************************************/
/* ---------------------- VERSION TABLETTE ---------------------- */
/******************************************************************/
@media screen and (min-width: 768px) {
    .burger_btn {
        top: .8em;
        right: 3em;
    }
}


/******************************************************************/
/* ----------------------- VERSION DESKTOP ---------------------- */
/******************************************************************/
@media screen and (min-width: 1100px) {
    .burger_btn {
        top: .8em;
        right: calc(6vw + 1em);
    }
}