@import '../../../variables.scss';

.payment_section {
    padding: 2rem 0 10rem;
    h1 {
        margin: 4rem auto;
        font-size: 2.6rem;
        text-transform: uppercase;
    }
    .payment_form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 500px;
        margin: 2rem auto; 
        padding: 1.5rem 2rem;
        background-color: $secondary-color;
        > label {
            display: flex;
            flex-direction: column;
            margin-bottom: .8rem;
            > span {
                color: white;
                text-align: left;
            }
            > div {
                padding: .4rem .8rem;
                border-radius: .6rem;
                font-size: 2.5rem;
                background-color: $primary-color;
            }
            &:first-child {
                width: 100%;
            }
            &:nth-child(2),
            &:nth-child(3) {
                width: calc(50% - 1rem);
            }
        }
        > button {
            margin-top: 1rem;
            padding: .6rem 1rem;
        }
    }
    .ok_msg,
    .err_msg {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 0 1.5rem;
        color: white;
        white-space: break-spaces;
    }
    .ok_msg {
        font-size: 2rem;
        font-weight: 500;
        color: rgb(0, 143, 49);
    }
}