@import '../../../variables.scss';

:export {
    primaryColor: $primary-color;
    secondaryColor: $secondary-color;
    tertiaryColor: $tertiary-color;
    highlightColor: $highlight-color;
    mainFont: $main-font;
}