.results_section {
    margin: 2em;
    /*background-color: lightgrey;*/
}

.results_section > article {
    display: flex;
    flex-direction: column;
    margin: 1em;
    border: 1px solid lightgray;
    /*background-color: rgb(184, 255, 222);*/
}

.results_section > article > p {
    margin-left: 1em;
    margin-right: 1em;
    font-size: 1.4rem
}

.discover_btn {
    display: inline-block;
    margin: 1em auto;
    padding: .5em .7em .4em;
    border: none;
    border-radius: 6px;
    font-weight: 500;   
    color: white;
    text-transform: uppercase;
    letter-spacing: .1em;
    background-color: var(--tertiary-color);
    cursor: pointer;
}