@import '../../../variables.scss';

.results_section {
    width: 100%;
    max-width: 1000px;
    margin: 2em auto;

    h2 {
        display: none;
    }
    article {
        display: flex;
        flex-direction: column;
        margin: 0 1em;
        padding: 1em;
        border: 1px solid $lightgrey-color;

        > div {
            margin: 0 auto;
            .country_txt {
                font-size: 1.8rem;
                color: $highlight-color;
            }
            .overview {
                text-align: justify;
                white-space: break-spaces;
            }
            .price {
                margin-left: .2em;
                margin-right: .2em;
                font-size: 2.5rem;
                font-weight: 500;   
                color: $highlight-color;
            }
            .discover_btn {
                display: inline-block;
                margin: 1em auto;
                padding: .5em .7em;
                border: none;
                border-radius: 6px;
                font-weight: 500;   
                color: white;
                text-transform: uppercase;
                letter-spacing: .1em;
                background-color: $tertiary-color;
                cursor: pointer;
            }
        }
        .slideshow_ctn {
            width: 100%;
        }

        @media screen and (min-width: $br-tablet) {
            margin: 0 3em;
            padding: 2em;
        
            .slideshow_ctn {
                min-width: 520px;
                width: 90%;
                margin: 1em auto;
            }
        }
        
        @media screen and (min-width: $br-desktop) {
            flex-direction: row;
            align-items: center;
            max-width: 1100px;
            margin: 0;
            padding: 1em;
            > div {
                &:first-child {
                    width: 60%;
                }
                
                &:nth-child(2) {
                    width: 40%;
                    .overview {
                        padding-left: 1em;
                    }
                }
            }
            .slideshow_ctn {
                width: 560px;
                margin: 1em;
            }
        }
    }
}