/******************************************************************/
/* ----------------------- VERSION MOBILE ----------------------- */
/******************************************************************/
.user_db_header {
    background-color: var(--secondary-color);
}

.user_db_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

.user_db_nav > .user_db_image_ctn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin-bottom: .5em;
    border-radius: 50%;
    background-color: rgb(122, 191, 141);
}

.user_db_nav .user_db_image {
    font-size: 1.6rem;
}

.user_db_nav > span {
    display: inline-block;
    margin-left: 1em;
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

.user_db_nav > div {
    display: flex;
    flex-direction: column;
}

.user_db_nav .link_signout,
.user_db_nav .link {
    display: block;
    width: 100%;
    margin-bottom: .5em;
    padding: .5em 1em;
    font-weight: 500;
    color: white;
    text-align: center;
}

.user_db_nav .link_home {
    margin-top: .5em;
    padding: .5em 1em;
    color: white;
    background-color: black;
}

.user_db_nav .link_signout {
    display: inline-block;
    width: unset;
    color: var(--highlight-color);
    background-color: var(--primary-color);
}

.user_db_nav .link_signout:hover,
.user_db_nav .link_home:hover,
.user_db_nav .link:hover {
    cursor: pointer;
}

/******************************************************************/
/* ---------------------- VERSION TABLETTE ---------------------- */
/******************************************************************/
@media screen and (min-width: 768px) {
    .user_db_nav {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: .5em 2em;
    }

    .user_db_nav > .user_db_image_ctn {
        height: 36px;
        width: 36px;
        margin-bottom: 0;
    }

    .user_db_nav > div {
        flex-direction: row;
    }

    .user_db_nav .link {
        color: var(--tertiary-color);
        background-color: var(--primary-color);
    }
    
    .user_db_nav .link,
    .user_db_nav .link_signout {
        /*display: inline-block;*/
        width: unset;
        margin-bottom: 0;
    }

    .user_db_nav .link_home {
        margin-top: 0;
    }
}

/******************************************************************/
/* ----------------------- VERSION DESKTOP ---------------------- */
/******************************************************************/
@media screen and (min-width: 1100px) {
    .user_db_nav {
        flex-direction: row;
    }
    
    .user_db_nav > span {
        display: block;
        /*margin: 1em auto 2em;*/
        color: white;
    }

    .user_db_nav > div > * {
        vertical-align: bottom;
    }

    .user_db_nav .link_home {
        display: inline-block;
        margin-top: 0;
        padding: .5em 1em;
        font-weight: 500;
        color: white;
        background-color: black;
    }

    .user_db_nav .link_signout {
        color: var(--highlight-color);
    }
}