/******************************************************************/
/* ----------------------- VERSION MOBILE ----------------------- */
/******************************************************************/
.user_db_header {
    background-color: var(--secondary-color);
}

.user_db_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

/* les containeurs dans le NAV */
.user_db_user_ctn,
.user_db_links_ctn {
    display: flex;
    flex-direction: column;
}

/* le containeur de l'icon et le mail user */
.user_db_user_ctn {
    align-items: center;
    margin-bottom: .5em;
}

/* le containeur de l'icon user */
.user_db_image_ctn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    /*margin-bottom: .5em;*/
    border-radius: 50%;
    background-color: rgb(122, 191, 141);
    cursor: pointer;
}
.user_db_image {
    font-size: 1.6rem;
}

/* les liens dans le nav */
.link_signout,
.link {
    display: block;
    width: 100%;
    margin-bottom: .5em;
    padding: .5em 1em;
    font-weight: 500;
    color: white;
    text-align: center;
}

.link_home {
    margin-top: .5em;
    padding: .5em 1em;
    color: white;
    background-color: black;
}

.link_signout {
    display: inline-block;
    width: unset;
    color: var(--highlight-color);
    background-color: var(--primary-color);
}

.link_signout:hover,
.link_home:hover,
.link:hover {
    cursor: pointer;
}

/******************************************************************/
/* ---------------------- VERSION TABLETTE ---------------------- */
/******************************************************************/
@media screen and (min-width: 768px) {
    .user_db_header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin-top: 60px;
    }
    
    .user_db_nav {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: .5em 2em;
    }

    .user_db_user_ctn {
        /*flex-direction: row;*/
        margin: 0;
        margin-right: .5em;
    }

    /* le mail user */
    .user_db_user_ctn > span {
        max-width: 150px;
        color: white;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .user_db_image_ctn {
        height: 36px;
        width: 36px;
        margin-bottom: 0;
    }

    .user_db_links_ctn {
        flex-direction: row;
        /*width: 100%;*/
        justify-self: center;
        /*padding-right: 10%;*/
    }

    .link,
    .link_signout {  
        display: flex;
        align-items: center;
        width: unset;
        margin: 0 .5em;
        /*vertical-align: middle;*/
    }

    .link {
        color: var(--tertiary-color);
        background-color: var(--primary-color);
    }

    .link_home {
        margin-top: 0;
    }
}

/******************************************************************/
/* ----------------------- VERSION DESKTOP ---------------------- */
/******************************************************************/
@media screen and (min-width: 1100px) {
    .user_db_nav {
        flex-direction: row;
    }
    
    /* le containeur de l'icon et le mail user */
    .user_db_user_ctn {
        flex-direction: row;
    }

    /* le mail user */
    .user_db_user_ctn > span {
        max-width: 240px;
        margin-left: .4em;
        font-size: 2rem;
    }

    .user_db_links_ctn > * {
        vertical-align: bottom;
    }

    .user_db_nav .link_home {
        display: inline-block;
        margin-top: 0;
        padding: .5em 1em;
        font-weight: 500;
        color: white;
        background-color: black;
    }

    .user_db_nav .link_signout {
        color: var(--highlight-color);
    }
}