@import '../../../../variables.scss';

@mixin ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin link_el($color) {
    display: block;
    padding: .5em 1em;
    font-weight: 500;
    text-align: center;
    color: $color;
    transition: color .4s, background-color .4s;
    &:hover {
        cursor: pointer;
    }
}

.user_db_header {
    background-color: $secondary-color;
    margin-top: 60px;
    z-index: 99;

    @media screen and (min-width: $br-tablet) {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    .user_db_nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1em;

        /* le containeur de l'icon et le mail user */
        .user_db_user_ctn {
            @include ctn;
            margin-bottom: .5em;
            /* le containeur de l'icon user */
            > div {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 30px;
                width: 30px;
                border-radius: 50%;
                background-color: rgb(122, 191, 141);
                .user_db_image {
                    font-size: 1.6rem;
                }
            }
        }
        .user_db_links_ctn {
            @include ctn;
            a {
                @include link_el(white);
                width: 100%;
                margin-bottom: .5em;
                transition: all .3s;
                &:hover {
                    color: $primary-color;
                }
            }
            .link_home {
                @include link_el(white);
                margin-top: .5em;
                border-radius: 4px;
                background-color: $darkgrey-color;
                &:hover {
                    color: white;
                    background-color: $grey-color;
                }
            }
        }

        @media screen and (min-width: $br-tablet) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin: .5em 2em;
        
            .user_db_user_ctn {
                margin: 0;
                margin-right: .5em;
        
                > div {
                    height: 36px;
                    width: 36px;
                    margin-bottom: 0;
                }
                span {
                    max-width: 150px;
                    color: white;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }   
            .user_db_links_ctn {
                flex-direction: row;
                justify-self: center;
        
                a {  
                    display: flex;
                    align-items: center;
                    width: unset;
                    margin: 0 .5em;
                    border-radius: 4px;
                    color: $tertiary-color;
                    background-color: $primary-color;
                    &:hover {
                        color: $secondary-color;
                    }
                }
                .link_home {
                    margin-top: 0;
                }
            }
        }

        @media screen and (min-width: $br-desktop) {
            flex-direction: row;
            justify-content: center;
        
            .user_db_user_ctn {
                position: absolute;
                left: 2em;
                flex-direction: row;
        
                span {
                    max-width: 240px;
                    margin-left: .4em;
                }
            }    
            .user_db_links_ctn {
                padding-left: 4em;
        
                > * {
                    vertical-align: bottom;
                }
                .link_home {
                    display: inline-block;
                    margin-top: 0;
                }
            }
        }
    }
}