/******************************************************************/
/* ----------------------- VERSION MOBILE ----------------------- */
/******************************************************************/
.user_db_header {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
}

.user_db_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5em;
    background-color: unset;
}

.user_db_nav > .user_db_image_ctn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    margin-bottom: .5em;
    border-radius: 15px;
    background-color: rgb(122, 191, 141);
}

.user_db_nav .user_db_image {
    font-size: 1.4rem;
}

.user_db_nav > span {
    display: inline-block;
    margin-left: 1em;
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

.user_db_nav > .link_signout,
.user_db_nav > .link {
    display: inline-block;
    width: 90%;
    margin: 0 auto;
    padding: .5em 1em;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--teriary-color);
    text-align: center;
    background-color: var(--primary-color);
}

.user_db_nav > .link_home {
    margin-top: .5em;
    padding: .5em 1em;
    color: white;
    background-color: black;
}

.user_db_nav > .link_signout {
    color: brown;
}

/******************************************************************/
/* ---------------------- VERSION TABLETTE ---------------------- */
/******************************************************************/
@media screen and (min-width: 768px) {

}

/******************************************************************/
/* ----------------------- VERSION DESKTOP ---------------------- */
/******************************************************************/
@media screen and (min-width: 1100px) {
    .user_db_nav {
        flex-direction: row;
        align-items: center;
    }

    .user_db_nav > .user_db_image_ctn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        width: 80px;
        /*border: 3px solid black;*/
        border-radius: 40px;
        background-color: rgb(122, 191, 141);
    }

    .user_db_nav .user_db_image {
        font-size: 4rem;
    }
    
    .user_db_nav > span {
        display: block;
        margin: 1em auto 2em;
        color: white;
    }

    .user_db_nav > .link_signout,
    .user_db_nav > .link_home,
    .user_db_nav > .link {
        display: inline-block;
        padding: .5em 1em;
        font-weight: 500;
        color: var(--teriary-color);
        /*text-align: center;*/
        background-color: var(--primary-color);
    }

    .user_db_nav > .link_home {
        margin-top: 0;
        color: white;
        background-color: black;
    }

    .user_db_nav > .link_signout {
        color: brown;
    }
}