@import '../../../../../variables.scss';

.user_db_main {
    margin-top: 1em;
    padding-bottom: 3em;
    text-align: center;

    h1 {
        margin: 1em;
        font-size: 2.2rem;
        text-transform: uppercase;
    }
    .user_account_form {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        margin: 1em auto; 
        padding: 1.5em;
        font-size: 1.4rem;
        background-color: $primary-color;
        
        label {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            margin-bottom: 1em;
            border: none;
        
            > span {
                display: inline-block;
                width: 42%;
                margin: .3em .5em 0 0;
                padding-right: .5em;
                text-align: right;
                white-space: nowrap;
                overflow: hidden;
            }
            /*** les saisies ***/
            > *:nth-child(2) {
                display: inline-block;
                width: 50%;
                padding: .2em .5em;
                font-size: 1.6rem;
                font-weight: 500;
            }
            input,
            textarea {
                display: block;
                width: 60%;
                margin-left: .5em;
                margin-right: 0;
                padding: .1em .4em;
            }
            textarea {
                height: 11em;
            }
            textarea:disabled,
            input[type="email"]:disabled,
            input[type="tel"]:disabled,
            input[type="date"]:disabled,
            input[type="text"]:disabled {
                color: $grey-color;
                background-color: #f5f5f5;
            }
            /*** les boutons Modif ***/
            > button {
                display: inline-block;
                align-items: center;
                justify-content: center;
                height: 1.5em;
                width: 1.5em;
                margin: .3em 0 0 .5em;
                border: none;
                background-color: $tertiary-color;
                transition: opacity .3s;
                &:hover {
                    cursor: pointer;
                    opacity: .7;
                }
                .modify_icon {
                    font-size: .8em;
                    color: white;
                }
            }
        }
        > button {
            margin: 1em auto 0;
            padding: .5em .7em .4em;
        }
    }
    .ok_msg {
        color: rgb(0, 143, 49);
        text-align: center;
    }
    .err_msg {
        color: $highlight-color;
        text-align: center;
    }

    @media screen and (min-width: $br-tablet) {
        display: inline-block;
        margin-top: 132px;
        padding: 1em auto;
    
        .user_account_form {
            max-width: 600px;
        }
    }
    @media screen and (min-width: $br-desktop) {
        margin-top: 112px;
    }
}