/******************************************************************/
/* ----------------------- VERSION MOBILE ----------------------- */
/******************************************************************/
.summary_section {
    display: flex;
    flex-direction: column;
    margin: 1em;
    border: 1px solid var(--lightgrey-color);
}

.summary_ctn {
    margin: 1em;
    text-align: left;
}

.summary_ctn span {
    font-weight: 500;
}

.summary_activities > li {
    margin-left: 2em;
}

.summary_ctn select {
    margin-left: 1em;
    padding: .1em .4em;
}

/* le bouton "confirmer la réservation" */
.summary_confirm_btn {
    display: block;
    margin: 2.5em auto;
    padding: .5em .7em .4em;
    border: none;
    border-radius: 6px;
    font-weight: 500;   
    letter-spacing: .1em;
    text-transform: uppercase;
    color: white;
    background-color: var(--tertiary-color);
}
.summary_confirm_btn:hover {
    cursor: pointer;
}