@import '../../../variables.scss';

.summary_section {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    border: 1px solid $lightgrey-color;
    
    h1 {
        margin: 1.5rem;
        font-size: 2.2rem;
    }

    .summary_ctn {
        margin: 0 1.5rem;
        text-align: left;
        h2 {
            display: none;
        }
        > *:nth-child(10) {
            display: inline-block;
            margin: 0;
        }
        b {
            font-weight: 500;
        }
        .summary_activities {
            > li {
                margin-left: 3rem;
                list-style-type: circle;
            }
        }
        .nota_bene {
            margin: 3rem 0;
            font-size: 1.4rem;
        }
        label {
            > p {
                display: inline-block;
            }
            select {
                margin-left: 1.5rem;
                padding: .2rem .6rem;
                font-family: $secondary-font;
                font-weight: 700;
                color: $tertiary-color;
                //background-color: $secondary-color;
            }
        }
    }

    .msg_nok {
        font-weight: 500;
        color: $highlight-color;
    }
    /* le bouton "confirmer la réservation" */
    > button {
        margin: 4rem auto;
        padding: .8rem 1.5rem;
        font-size: 1.6rem; 
    }

    @media screen and (min-width: $br-tablet) {
        margin: 3rem 6rem;
        padding: 0 1.5rem;
    }

    @media screen and (min-width: $br-desktop) {
        max-width: 950px;
        margin-left: auto;
        margin-right: auto;
    }
}

.modify_section {
    @media screen and (min-width: $br-tablet) {
        margin-top: 96px;
    }
    @media screen and (min-width: $br-desktop) {
        margin-top: 76px;
    }
}