.summary_section {
    display: flex;
    flex-direction: column;
    margin: 1em;
    border: 1px solid lightgray;
    /*background-color: var(--primary-color);*/
}

.summary_ctn {
    margin: 1em;
    text-align: left;
}

.summary_ctn > p > span {
    font-weight: 500;
}

/* le bouton "confirmer la rservation */
.summary_confirm_btn {
    display: inline-block;
    margin: 1em;
    padding: .5em 1em;
    border: none;
    border-radius: 6px;
    font-weight: 500;   
    text-transform: uppercase;
    color: white;
    background-color: var(--tertiary-color);
}
.summary_confirm_btn:hover {
    cursor: pointer;
}