/******************************************************************/
/* ----------------------- VERSION MOBILE ----------------------- */
/******************************************************************/
.summary_section {
    display: flex;
    flex-direction: column;
    margin: 1em;
    border: 1px solid var(--lightgrey-color);
}

.summary_ctn {
    margin: 1em;
    text-align: left;
}

.summary_ctn span {
    font-weight: 500;
}

.summary_activities > li {
    margin-left: 2em;
    list-style-type: circle;
}

.nota_bene {
    margin-top: 3em;
}

.summary_ctn select {
    margin-left: 1em;
    padding: .1em .4em;
}

/* le bouton "confirmer la réservation" */
.summary_confirm_btn {
    display: block;
    margin: 2.5em auto;
    padding: .7em .9em .6em;
    border: none;
    border-radius: 6px;
    font-weight: 500;  
    font-size: 1.6rem; 
    letter-spacing: .1em;
    text-transform: uppercase;
    color: white;
    background-color: var(--tertiary-color);
}
.summary_confirm_btn:hover {
    cursor: pointer;
}

.summary_ctn select {
    font-weight: 500;
    color: white;
    background-color: var(--tertiary-color);
}

/******************************************************************/
/* ---------------------- VERSION TABLETTE ---------------------- */
/******************************************************************/
@media screen and (min-width: 768px) {
    .summary_section {
        margin: 2em 4em;
    }
}


/******************************************************************/
/* ----------------------- VERSION DESKTOP ---------------------- */
/******************************************************************/
@media screen and (min-width: 1100px) {
    .summary_section {
        max-width: 950px;
        margin-left: auto;
        margin-right: auto;
    }
}