/******************************************************************/
/* ----------------------- VERSION MOBILE ----------------------- */
/******************************************************************/
.msg_nok {
    font-weight: 500;
    color: var(--highlight-color);
}

.results_table {
    margin: 0 auto;
    color: var(--darkgrey-color);
    font-family: var(--secondary-font);
}

.results_table th,
.results_table td {
    padding: .2em .5em;
}

.results_table th {
    background-color: var(--primary-color);
}

.results_table button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: .2em .5em;
    border: none;
    border-radius: 4px;
    /*color: white;*/
    text-transform: uppercase;
    background-color: transparent;
}

.results_table .modify_icon {
    margin-top: .1em;
    color: rgb(50, 124, 72);
}
.results_table .delete_icon {
    color: var(--highlight-color);
}

.results_table > tbody > tr > td:first-child {
    color: var(--grey-color);
}
.results_table > tbody > tr > td:nth-child(3) {
    font-weight: 600;
}
.results_table > tbody > tr > td:nth-child(8) {
    text-align: right;
}
/******************************************************************/
/* ----------------------- VERSION DESKTOP ---------------------- */
/******************************************************************/
@media screen and (min-width: 1100px) {
    .results_table {
        margin: 0 auto;
    }
}