/******************************************************************/
/* ----------------------- VERSION MOBILE ----------------------- */
/******************************************************************/
.booking_section {
    display: flex;
    flex-direction: column;
    margin: 1em;
    border: 1px solid var(--lightgrey-color);
}

/* Cacher les flêches des boutons spinner */
.booking_section input[type='number']::-webkit-inner-spin-button, 
.booking_section input[type='number']::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}

.booking_pack_ctn {
    margin-bottom: 1em;
}

.booking_pack_ctn > p {
    margin: 1em 2em;
    font-size: 1.4rem;
    text-align: justify;
}

.booking_pack_ctn > p > span {
    font-weight: 500;
}

.leaflet_container {
    margin: 1em;
    width: 90%;
    height: 300px;
    /*z-index: 1;*/
}

.booking_inputs {
    margin: .5em 2em;
    text-align: left;
}

.booking_inputs,
.booking_activity_inputs {
    display: flex;
    align-items: center;
    vertical-align: middle;
}


/*** styler les activités ***/
.booking_activities_ctn {
    text-align: left;
}

.booking_activities_ctn span {
    display: block;
    margin: 1em 2em;
}

.booking_activity {
    margin: .5em 1em;
    padding: 1em;
    border: 1px solid var(--lightgrey-color);
}

.booking_activity_title {
    /*display: flex;
    align-items: start;*/
    margin: 1em .5em;
}

.booking_activity_title > label {
    /*display: inline-block;*/
    font-weight: 500;
}

.booking_activity_title > label > input {
    /*display: inline-block;*/
    /*float: left;*/
    vertical-align: middle;
    margin-right: .5em;
    margin-bottom: .18em;
    /*accent-color: var(--secondary-color);*/
}

.booking_inputs > span,
.booking_activity_inputs > span {
    display: inline-block;
    margin-right: .5em;
}

.booking_inputs > button,
.booking_activity_inputs > button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5em;
    height: 1.5em;
    border: none;
    border-radius: 50%;
}

.fa_circle {
    height: 100%;
    width: auto;
    color: var(--secondary-color);
}

.booking_inputs > input,
.booking_activity_inputs > input {
    width: 2.5em;
    height: 1.5em;
    padding: 0 auto;
    text-align: center;
}

.booking_activity p {
    padding: 0;
}

/* le bouton "réserver */
.booking_btn {
    display: inline-block;
    margin: 1em auto;
    padding: .5em 1em;
    border: none;
    border-radius: 6px;
    font-weight: 500;  
    letter-spacing: .1em; 
    text-transform: uppercase;
    color: white;
    background-color: var(--tertiary-color);
}
.booking_btn:hover {
    cursor: pointer;
}

.error_ctn {
    margin: 0 2em 1em;
    color: var(--highlight-color);
}