.booking_section {
    display: flex;
    flex-direction: column;
    margin: 1em;
    border: 1px solid lightgray;
    /*background-color: var(--primary-color);*/
}

.booking_pack_ctn {
    margin-bottom: 1em;
}

.booking_pack_ctn > p {
    margin: 1em 2em;
    font-size: 1.4rem;
    text-align: justify;
}

.booking_pack_ctn > p > span {
    font-weight: 500;
}

.leaflet_container {
    margin: 1em;
    width: 90%;
    height: 300px;
    /*z-index: 1;*/
}

.booking_inputs {
    margin: 1em 2em;
    text-align: left;
}
/*** styler les activités ***/
.booking_activities_ctn {
    text-align: left;
}

.booking_activities_ctn span {
    display: block;
    margin: 1em 2em;
}

.booking_activity {
    margin: .5em 1em;
    padding: 1em;
    border: 1px solid lightgrey;
}

.booking_activity_title {
    margin: 1em;
}

.booking_activity_title input {
    display: inline-block;
}

.booking_activity_title label {
    display: inline-block;
    margin-left: 1em;
    font-weight: 500;
}

/*
.booking_activity_inputs {
    display: none;
}*/

.booking_inputs > span,
.booking_activity_inputs > span {
    display: inline-block;
}

.booking_inputs > button,
.booking_activity_inputs > button {
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    font-weight: 700;
}

.booking_inputs > input,
.booking_activity_inputs > input {
    width: 3em;
    height: 1.5em;
    text-align: right;
}

.booking_activity p {
    padding: 0;
}

.show {
    display: block;
    color: blue;
}

/* le bouton "réserver */
.booking_btn {
    display: inline-block;
    margin: 1em auto;
    padding: .5em 1em;
    border: none;
    border-radius: 6px;
    font-weight: 500;   
    text-transform: uppercase;
    color: white;
    background-color: var(--tertiary-color);
}
.booking_btn:hover {
    cursor: pointer;
}

.error_ctn {
    margin: 0 2em 1em;
    color: red;
}