.detail_section {
    display: flex;
    flex-direction: column;
    margin: 1em;
    border: 1px solid lightgray;
    /*background-color: var(--primary-color);*/
}

.detail_section p {
    margin: 1em;
    padding: 1em;
    font-size: 1.4rem;
    text-align: justify;
}

.detail_section > p + p {
    border-top: 1px solid lightgrey;
}

.detail_section > p > span {
    display: block;
    margin: 1rem;
	font-weight: 500;
	font-size: 1.8rem;
}

.leaflet_container {
    margin: 1em;
    width: 90%;
    height: 300px;
    /*z-index: 1;*/
}

/*** styler les activités ***/
.activite {
    margin: .5em 1em;
    border: 1px solid lightgrey;
    text-align: left;
}

.activite input {
    margin: auto .5em;
}

.activite label {
    font-weight: 500;
}