@import '../../../variables.scss';

@mixin counter_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.4rem;
    height: 2.4rem;
    border: none;
    border-radius: 50%;
}
@mixin counter_input {
    width: 4rem;
    height: 2.4rem;
    padding: 0 auto;
    font-weight: 700;
    text-align: center;
    background-color: $primary-color;
}
@mixin counter_span {
    display: inline-block;
    margin-right: .8rem;
}

.booking_section {
    display: flex;
    flex-direction: column;
    margin: 1.5rem auto;

    > h1 {
        margin: 0 0 .8rem;
        font-size: 3rem;
        text-transform: uppercase;
    }
    .hidden {
        display: none;
    }
    article {
        h2 {
            display: none;
            margin-top: 0;
            text-transform: uppercase;
        }
        > p {
            margin: .6rem 3rem;
            text-align: left;
        }
    }
    .booking_info_top {
        display: flex;
        flex-direction: column-reverse;
        overflow: hidden;
    
        .booking_info_ctn {
            margin-bottom: 2rem;
            h3 {
                font-size: 1.8rem;
                color: $highlight-color;
            }
            > p {
                margin: .8rem 3rem;
                font-size: 1.4rem;
                text-align: left;
            }
            .destination_name {
                margin-bottom: 3rem;
                font-size: 2.2rem;
                font-weight: 500;
                text-align: center;
                color: $tertiary-color;
            }
            b {
                font-weight: 500;
            }
        }
        .main_img {
            align-self: flex-start;
            width: 90%;
            margin: 1.5rem auto;
        }
    }
    .booking_inputs_ctn {
        .booking_inputs {
            display: flex;
            align-items: center;
            vertical-align: middle;
            margin: .8rem 3rem;
            text-align: left;
            span {
                @include counter_span;
            }
            button {
                @include counter_btn;
            }
            input {
                @include counter_input;
            }
        }
    }
    /*** styler les activités ***/
    .booking_activities_ctn {
        text-align: left;
        > h2 {
            display: none;
        }
        > p {
            display: block;
            margin: 1.5rem 3rem .8rem;
        }
        .booking_activity {
            margin: .8rem 1.5rem;
            padding: 1.5rem;
            border: 1px solid $lightgrey-color;

            .booking_activity_title {
                margin: 1.5rem .8rem;
                label {
                    input {
                        vertical-align: middle;
                        margin-right: .8rem;
                        margin-bottom: .3rem;
                    }
                    span {
                        font-weight: 500;
                        user-select: none;
                    }
                }
            }
            .booking_activity_inputs {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                vertical-align: middle;
                margin-bottom: 1.5rem;
            
                > div {
                    display: flex;
                    align-items: center;
                    margin: 0 0 1rem 3rem;
                    span {
                        @include counter_span;
                    }
                    button {
                        @include counter_btn;
                    }
                    input {
                        @include counter_input;
                    }
                }
                @media screen and (min-width: $br-tablet) {
                    flex-direction: row;
                    align-items: center;
                    span {
                        margin: 0 .8rem 0 3rem;
                    }
                    > div {
                        margin-left: 0;
                    }
                }
            }
            p {
                padding: 0;
            }
        }
    }
    .booking_totals_ctn {
        display: inline-block;
        margin: 1.5rem auto 1.5em 3rem;
        > *:first-child {
            margin: 1.3rem;
        }
        b {
            font-weight: 500;
        }
    }
    /* le bouton "réserver */
    > button {
        margin: 1.5rem auto 0;
        padding: .6rem 1.5rem;
    }
    .error_ctn {
        margin: 0 3rem 1.5rem;
        color: $highlight-color;
    }
    .fa_circle {
        height: 100%;
        width: auto;
        color: $secondary-color;
    }
    .places_left {
        color: $highlight-color;
    }

    @media screen and (min-width: $br-tablet) {
        max-width: 1000px;
        padding: 3rem;
        article {
            > p {
                margin-left: 3rem;
                text-align: center;
            }
        }
        .booking_info_top {
            flex-direction: row;
            .booking_info_ctn {
                width: calc(100% - 500px);
                margin: 1.5rem 0 0 0;
                padding-left: .8rem;
                h3 {
                    margin-top: 3rem;
                }
                .destination_name {
                    margin-bottom: 3rem;
                }
                .booking_info_h {
                    font-size: 1.8rem;
                    margin-bottom: 2.4rem;
                }
            }
            .main_img {
                width: 80%;
                max-width: 600px;
                margin: 1.5rem;
            }
        }
        .booking_inputs_ctn {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            > p {
                width: 100%;
            }
            .booking_inputs {
                display: inline-flex;
                margin: .8rem 0;
                span {
                    margin: 0 .8rem 0 3rem;
                }
            }
        }
        .booking_totals_ctn {
            margin: 0 auto 1.5rem;
            > p {
                text-align: left;
            }
        }
    }

    @media screen and (min-width: $br-desktop) {
        margin: 3rem auto;
        border: 1px solid $lightgrey-color;
        .main_img {
            width: 500px;
        }
    }
}

.modify_section {
    @media screen and (min-width: $br-tablet) {
        margin-top: 70px;
    }
}